*{
    margin: 0;
    padding: 0;
}

body{

}

.container{width:100%;display:flex;justify-content: center;margin: 20px  auto;}

header{/* flex-basis: 90%; *//* border-bottom: 1px solid grey; *//* padding: 10px 0; */}


.title{

}
.appbody{
    
}

.menuContainer{
font-family: sans-serif;
border-bottom:0.5px solid #ccc;
}
.menuContainer ul{
    list-style: none;
}

.menuContainer > ul li {
    position: relative;
    margin: 0.5px;
}
.menuContainer ul li {
    padding: 9px 11px;
    padding-right: 36px;
}

.menuContainer ul li, .menuContainer ul li a {opacity: 0.8;color: #fff;cursor: pointer;transition: 200ms;text-decoration: none;white-space: nowrap;/* font-weight: 700; */background-color:darkgreen;letter-spacing: .75px;font-size: 18px;}

/* ul.menu li::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFA500;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */

.menuContainer > ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    min-width: 160px;
    /*     background-color: #333; */
    position: absolute;
    top: 40.5px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    transition: 200ms;
    transition-delay: 200ms;
    /* border:0.5px solid #ccc; */
}

.menuContainer > ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
}

.menuContainer ul li:hover, .menuContainer ul li a:hover {
    opacity: 1;
}

.menuContainer > ul li ul li {
    margin: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-right: 40px;
}

.menuContainer > ul li ul li:hover, .menuContainer > ul li ul li:hover > a {
    background-color: #EDF6FF;
    color: #1b1b1b;
}

.menuContainer > ul li ul li ul {
    top: 0.5%;
    left: 101%;
    transform: translate(0);
}

.menuContainer > ul {
    display: flex;
    height: 40px;
    align-items: center;
}


ul.submenu::before {
    /* content: '#'; */
    /* content: ''; */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFA500;
    position: absolute;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
}

.menu #separator{
    height: 0px;
    padding: 0;
    border: none;
    border-bottom: 0.5px solid #fff;
    opacity: 1;
    transition: none;
}